<ion-header-bar class="bar bar-header login-content">
	<div style ="width:100%; "ng-include="'templates/partials/menu-bar.html'" ng-controller="NoifiCtrl"></div>
	<div class="controles">
		<button class="button button-icon ion-chevron-left button-back" ui-sref="polizas"></button><span class="controles-title">Propiedad</span>
	</div>
</ion-header-bar>
<ion-content>
	<div  ng-show = "informacion.contenido">
		<section class="layout-info-poliza">
			<div class="logo-aseguradora" ng-switch on="informacion.aseguradora">
				<div class="img-aseguradora">
					<img ng-src="{{ informacion.image }}"  style = 'max-width: 70px;'>
				</div>
				<p ng-hide="informacion.contenido">Aún no tienes ninguna notificación :/</p>
				<div ng-switch on ="informacion.estado" class="estado-poliza">
						<span class="list-text" ng-switch-when="ACTIVO" style="color:Green"> {{informacion.estado}}</span>
						<span  class="list-text" ng-switch-when="INACTIVO" style="color:RED">{{informacion.estado}}</span>
						<span class="list-text" ng-switch-default >{{informacion.estado}}</span>
				</div>
			</div>
			<div class="info-poliza">
				<h4 >{{informacion.tipo_poliza}}</h4>
				{{info.tipo_poliza}}
				<p><b>Fecha de inicio:</b>{{informacion.fecha_inicial}}</p>
				<p style="color:RED"><b>Vencimiento:</b> {{informacion.fecha_final}}</p>
		</div>
			<a ng-click="sendMail(informacion.llamar)" class="call">
				<img src="./img/call.png" alt="imagen telefono">
				<div class="call-text"><p>Asistencia Aquí </p> </div>
			</a>
			<p class = "button button-clear button-positive button-block" ng-click="companiesInformation()"> Más información de tu aseguradora</p>
			<div class="siniestros">
				<div ng-if="numSiniestros < 1 ">
					<p>Siniestros: <span>{{numSiniestros}}</span></p>
				</div>
				<div ng-if="numSiniestros >= 1 ">
					<p>Siniestros: <span>{{numSiniestros}}</span></p>
					<button class="button button-clear button-positive" ng-click="goPolizas()">
						Ver siniestros
					</button>
				</div>
			</div>
		</section>
		<section class="informacion-personal">
				<p><b>Tomador: </b><span>{{informacion.titular}}</span></p>
				<p><b>CC/Nit: </b><span>{{informacion.cedula_nit}}</span></p>
				<p><b>póliza N°: </b> <span>{{informacion.poliza}}</span></p>
				<p><b>Aseguradora: </b><span>{{informacion.aseguradora}}</span></p>
				<p><b>Placa: </b><span>{{informacion.placas}}</span> </p>
			</div>
			<p><b>Observaciones: </b><span ng-bind-html="informacion.observaciones"></span> </p>
		</section>
	</div>

</ion-content>
