<ion-header-bar class="bar bar-header login-content">
	<div style ="width:100%; "ng-include="'templates/partials/menu-bar.html'" ng-controller="NoifiCtrl"></div>
	<div class="controles">
		<button class="button button-icon ion-chevron-left button-back" ui-sref="polizas"></button><span class="controles-title">Propiedad</span>
	</div>
</ion-header-bar>
<ion-content>

	<section class="layout-info-poliza">
		<div class="logo-aseguradora lista-imagen item-image" ng-switch on="informacion.aseguradora">
			<!--<img ng-switch-default ng-src="/img/sublogo_1.png" style="max-width:60px;max-height:45px;"> -->
            <img ng-switch-when ="SEGUROS DEL ESTADO S.A." ng-src="./img/seguresDelEstado.png">
            <img ng-switch-when ="SEGUROS MUNDIAL" ng-src="./img/mundial.png">
            <img ng-switch-when ="SEGUROS COMERCIALES BOLIVAR" ng-src="./img/bolivar.jpeg">
            <img ng-switch-when ="AIG SEGUROS COLOMBIA S.A." ng-src="./img/aig.png">
            <img ng-switch-when ="AIG SEGUROS COLOMBIA S.A" ng-src="./img/aig.png">
            <img ng-switch-when ="ASEGURADORA SOLIDARIA DE COLOMBIA" ng-src="./img/aseguradoraSolidaria.png">
            <img ng-switch-when ="ALLIANZ" ng-src="./img/allianz.png">
            <img ng-switch-when ="EQUIDAD SEGUROS" ng-src="./img/equidadSeguros.png">
            <img ng-switch-when ="EQUIDAD SEGUROS " ng-src="./img/equidadSeguros.png">
            <img ng-switch-when ="LIBERTY SEGUROS S.A." ng-src="./img/liberty.png">
            <img ng-switch-when ="MAPFRE" ng-src="./img/mapfre.png">
            <img ng-switch-when ="MAPFRE COLOMBIA" ng-src="./img/mapfre.png">
            <img ng-switch-when ="MAPFRE SEGUROS COLOMBIA" ng-src="./img/mapfre.png">
            <img ng-switch-when ="LA PREVISORA S.A." ng-src="./img/previsora.png">
            <img ng-switch-when ="PREVISORA SEGUROS" ng-src="./img/previsora.png">
            <img ng-switch-when ="AXA COLPATRIA SEGUROS S.A." ng-src="./img/axa.png">
            <img ng-switch-when ="ROYAL & SUN ALLIANCE SEGUROS (COLOMBIA) S.A.S." ng-src="/img/rsa.png" class="lista-imagen">
		</div>
		<div class="info-poliza">
			<div styles="position:relative;">
				<div class="inline-block Dtipo-poliza">
				<h4 >{{informacion.tipo_poliza}}</h4>
				{{info.tipo_poliza}}
				</div>
				<div ng-switch on ="informacion.estado" class="inline-blockDestado">
						<span class="list-text" ng-switch-when="ACTIVO" style="color:Green"> {{informacion.estado}}</span>
						<span  class="list-text" ng-switch-when="INACTIVO" style="color:RED">{{informacion.estado}}</span>
						<span class="list-text" ng-switch-default >{{informacion.estado}}</span>
					</div>
				<p><b>Fecha de inicio:</b>{{informacion.fecha_inicial}}</p>
				<p style="color:RED"><b>Vencimiento:</b> {{informacion.fecha_final}}</p>
			</div>
		</div>
		<a ng-click="sendMail(informacion.llamar)" class="call">
			 <img src="./img/call.png" alt="imagen telefono">
			 <div class="call-text"><p>Asistencia Aquí </p> </div>
		</a>
		<div class="siniestros">
			<div ng-if="numSiniestros < 1 ">
				<p>Siniestros: <span>{{numSiniestros}}</span></p>
			</div>
			<div ng-if="numSiniestros >= 1 ">
				<p>Siniestros: <span>{{numSiniestros}}</span></p>
				<button class="button button-clear button-positive" ng-click="goPolizas()">
  				Ver siniestros
				</button>
			</div>
		</div>
	</section>
	<section class="informacion-personal">
			<p><b>Titular:</b><span>{{informacion.titular}}</span></p>
			<p><b>CC:</b><span>{{informacion.cedula_nit}}</span></p>
			<p><b>E-mail:</b> <span>{{informacion.e_mail_contac}}</span></p>
			<p><b>póliza N°:</b> <span>{{informacion.poliza}}</span></p>
			<p ng-if ="informacion.domicilio_contac != 'N/A'"><b>Dirección:</b><span>{{informacion.domicilio_contac}}</span></p>
			<p ng-if ="informacion.empresa != 'N/A'"><b>Dirección:</b><span>{{informacion.empresa}}</span></p>
			<div class="tipo-poliza" ng-if="informacion.tipo_poliza =='MOTOCICLETA' || informacion.tipo_poliza =='AUTOMOVILES'  || informacion.tipo_poliza =='AUTOMOVILES SOAT' || informacion.tipo_poliza =='MOTOCICLETA SOAT'">
				<p><b>Placa: </b><span>{{informacion.placas}}</span> </p>
				<p><b>Observaciones: </b><span>{{informacion.observaciones}}</span> </p>
		</div>
	</section>
</ion-content>
