<ion-header-bar class="bar-header bar login-content header-big">
 <div style ="width:100%; "ng-include="'templates/partials/menu-bar.html'" ng-controller="NoifiCtrl"></div>
</ion-header-bar>
<ion-tabs class="tabs-positive tabs-icon-left has-header" >
    <ion-tab title="Mis Pólizas" icon-on="ion-ios-paper" icon-off="ion-ios-paper-outline">
      <ion-scroll>
          <div class="list has-header" style="margin-bottom: 50px;">
              <div class="item item-toggle">
                  <h2 class="list_text">mostrar solo polizas con siniestros </h2>
                  <label class="toggle toggle-assertive">
                    <input type="checkbox" ng-model="showOnlyWthiSiniestros" ng-change="changeInput()">
                    <div class="track">
                      <div class="handle"></div>
                    </div>
                  </label>
                </div>
              <div ng-repeat ="poliza in polizas" >
                <a class="item " href="#/detalle/{{poliza.poliza}}" style="box-sizing: border-box; padding-left:10px !important;">
                    <img  ng-src="{{ getImage(poliza.aseguradora) }}" class = "lista-imagen">
                  <div class="list-text">
                    <h2 class="">{{poliza.tipo_poliza}}</h2>
                      <div ng-switch on="poliza.tipo_poliza">
                        <div ng-switch-when="CUMPLIMIENTO">
                          <p>{{poliza.titular}}</p>
                        </div>
                        <div ng-switch-when="RESPONSABILIDAD CIVIL">
                          <p class="list_text">{{poliza.titular}}</p>
                        </div>
                        <div ng-switch-default>
                          <p ng-if="poliza.placas != 'N/A'">Placa: {{poliza.placas}}</p>
                        </div>
                        <p> Poliza:  {{poliza.poliza}} </p>
                      </div>
                    <div ng-switch on ="poliza.estado" class="estado" >
                      <p ng-switch-when="ACTIVO" style="color:Green;overflow:visible;"> {{poliza.estado}}</p>
                      <p ng-switch-when="INACTIVO" style="color:RED;overflow:visible;">{{poliza.estado}}</p>
                      <p ng-switch-default style="overflow:visible;" >{{poliza.estado}}</p>
                    </div>
                  </div>
                </a>
              </div>
            </div>
      </ion-scroll>
    </ion-tab>
    <ion-tab title="Mis Soats" icon-on="ion-model-s" icon-off="ion-model-s">
        <ion-scroll style="margin-bottom:60px,">
              <div class="list has-header" style="margin-bottom: 50px;">
                  <div class="item item-toggle">
                      <h2 class="list_text">mostrar solo polizas con siniestros </h2>
                      <label class="toggle toggle-assertive">
                        <input type="checkbox" ng-model="showOnlyWthiSiniestros" ng-change="changeInput()">
                        <div class="track">
                          <div class="handle"></div>
                        </div>
                      </label>
                    </div>
                <div ng-repeat ="poliza in soats" >
                  <a class="item" href="#/detalle/{{poliza.poliza}}" style="box-sizing: border-box; padding-left:10px !important;">
                      <img  ng-src="{{ getImage(poliza.aseguradora) }}" class="lista-imagen">
                    <div class="list-text">
                      <h2 class="">{{poliza.tipo_poliza}}</h2>
                        <div ng-switch on="poliza.tipo_poliza">
                          <div ng-switch-when="CUMPLIMIENTO">
                            <p>{{poliza.titular}}</p>
                          </div>
                          <div ng-switch-when="RESPONSABILIDAD CIVIL">
                            <p class="list_text">{{poliza.titular}}</p>
                          </div>
                          <div ng-switch-default>
                            <p ng-if="poliza.placas != 'N/A'">Placa: {{poliza.placas}}</p>
                          </div>
                          <p> Poliza:  {{poliza.poliza}} </p>
                        </div>
                      <div ng-switch on ="poliza.estado" class="estado" >
                        <p ng-switch-when="ACTIVO" style="color:Green;overflow:visible;"> {{poliza.estado}}</p>
                        <p ng-switch-when="INACTIVO" style="color:RED;overflow:visible;">{{poliza.estado}}</p>
                        <p ng-switch-default style="overflow:visible;" >{{poliza.estado}}</p>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
        </ion-scroll>
    </ion-tab>
  </ion-tabs>

