<ion-content class="login-content no-header hero flat">
	<div class="img-logo">
		<img src="./img/logos.png" alt="logo conexs">
	</div>
	<form ng-submit="login()">
		<div class="form-div-container">
			<h3 class="text-white">Bienvenido</h3>
			<label for="cedula" class="text-white">Digite su número de documento</label>
			<input type="number" name="cedula" id="cedula" ng-model="user.cedula"  placeholder="Digite su número de documento">
			<input type="submit" value="Ingresar" class="button btn-login">
		</div>
	</form>
	<div class="footer">
		<p>Email :contacto@conexseguros.com</p>
		<p>Celular: 3134328128 - 3102825015</p>
		<p>Teléfonos: +57 (8)8719548</p>
		<p>Dirección:Calle 9 # 4-19 Local 105</p>
		<p>Neiva, Huila - Colombia</p>
		<p>WebSite:www.conexseguros.com</p>
	</div>
</ion-content>
