<ion-content class="login-content no-header hero flat has-footer">
	<div class="img-logo">
		<img src="./img/logos.png" alt="logo conexs">
	</div>
	<form ng-submit="login()">
		<div class="form-div-container">
			<h3 class="text-white">Bienvenido</h3>
			<label for="cedula" class="text-white">Número de documento , Nit o placa de su Vehículo</label>
			<input type="text" name="cedula" id="cedula" ng-model="user.cedula" placeholder="Número de documento, Nit o placa de su Vehículo">
			<input type="submit" value="Ingresar" class="button btn-login">
		</div>
	</form>
	<div class="modal" id="modal">
		<div class="modal-content">
			<i class="modal-close icon ion-close-round" ng-click="hiddeModal()"></i>
			<p>contacto@conexseguros.com</p>
			<p>Celular: 3134328128 - 3102825015</p>
			<p>Teléfonos: +57 (8)8719548</p>
			<p>Dirección:Calle 9 # 4-19 Local 105</p>
			<p>Neiva, Huila - Colombia</p>
			<p><a href="http://www.conexseguros.com">www.conexseguros.com</a></p>
		</div>
	</div>
</ion-content>
<ion-footer-bar style="padding:0 !important; background:#013187">
	<div class="footer">
		<p ng-click="showModal()">Más Información</p>
	</div>
</ion-footer>
