<ion-header-bar class="header header-bar login-content header-big">
    <div style ="width:100%; "ng-include="'templates/partials/menu-bar.html'" ng-controller="NoifiCtrl"></div>
    <div class="controles">
    <button class="button button-icon ion-chevron-left button-back" ui-sref="polizas" ></button>
    <span class="controles-title">Notificaciones</span>
  </div>
</ion-header-bar>
<ion-content style="margin-top:40px;">
  <div class="list">
  <div ng-show="contenido">
    <div ng-repeat="notification in notifications" class="">
      <a class="item item-icon-right item-avatar" style="box-sizing: border-box; padding-left:10px !important;"  href="#/notification/{{notification.id}}">
        <div class="item-image lista-imagen" style="display: inline-block; width:11% !important;">
				  <img src="./img/sublogo_1.png" alt="">
        </div>
        <div class="list-text">
          <p class="notifications-title">{{notification.titulo}}</p>
        </div>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </a>
    </div>
  </div>

  <p ng-hide="contenido">Aún no tienes ninguna notificación :/</p>
</ion-content>
