<ion-header-bar class="header header-bar login-content">
<div class='button_1'>
	<button class='button-icon icon ion-person'></button></div>
<div class="logo-bar">	
	<img src="./img/logo_conexs.png">
</div> 
<div class='button_2'>
	<button class='button-icon icon ion-android-notifications-none icon-right'></button></div>
</ion-header-bar>
<ion-content>
<div class="controles">
	<button class="button button-icon ion-chevron-left button-back" >
	<span class="title">Notificaciones</span>
		
</div>	
 <div class="content-notification">

  	<a class="item item-icon-right " href="#">
  			<div class="imagen-notification">
     			<img src="./img/sublogo_1.png" alt="">
     			<span>werewrwre</span>
  			</div>
  		<div class="notification-text">
  			<h4>Promociones</h4>
  		</div>
     
    <i class="icon ion-chevron-right icon-accessory"></i>
  </a>
</div>

	<div class="content-notification">

  	<a class="item item-icon-right " href="#">
  			<div class="imagen-notification">
     			<img src="./img/sublogo_1.png" alt="">
     			<span>divar</span>
  			</div>
  		<div class="notification-text">
  			<h4>Pagos</h4>
  		</div>
     
    <i class="icon ion-chevron-right icon-accessory"></i>
  </a>
</div>

	<div class="content-notification">

  	<a class="item item-icon-right " href="#">
  			<div class="imagen-notification">
     			<img src="./img/sublogo_1.png" alt="">
     			<span>werewrwre</span>
  			</div>
  		<div class="notification-text">
  			<h4>reactivacion</h4>
  		</div>
     
    <i class="icon ion-chevron-right icon-accessory"></i>
  </a>
</div>

	<div class="content-notification">

  	<a class="item item-icon-right " href="#">
  			<div class="imagen-notification">
     			<img src="./img/sublogo_1.png" alt="">
     			<span>werewrwre</span>
  			</div>
  		<div class="notification-text">
  			<h4>Renovacion</h4>
  		</div>
     
    <i class="icon ion-chevron-right icon-accessory"></i>
  </a>
</div>

	<div class="content-notification">

  	<a class="item item-icon-right " href="#">
  			<div class="imagen-notification">
     			<img src="./img/sublogo_1.png" alt="">
     			<span>werewrwre</span>
  			</div>
  		<div class="notification-text">
  			<h4>Videos seguridad vial</h4>
  		</div>
     
    <i class="icon ion-chevron-right icon-accessory"></i>
  </a>
</div>

	<div class="content-notification">

  	<a class="item item-icon-right " href="#">
  			<div class="imagen-notification">
     			<img src="./img/sublogo_1.png" alt="">
     			<span>werewrwre</span>
  			</div>
  		<div class="notification-text">
  			<h4>werwer</h4>
  		</div>
     
    <i class="icon ion-chevron-right icon-accessory"></i>
  </a>
</div>

</ion-content>