<ion-header-bar class="header header-bar login-content">
	<div style ="width:100%; "ng-include="'templates/partials/menu-bar.html'" ng-controller="NoifiCtrl"></div>
	<div class="controles">
		<button class="button button-icon ion-chevron-left button-back" ui-sref="polizas" ></button><span class="controles-title">Perfil</span>
	</div>
</ion-header-bar>

<ion-content style="margin-top:40px;">
	<div class="primer_item">
		<p style="height:43px;text-align:center; text-overflow: ellipsis;" >
  				{{perfil.titular}}</p>
	</div>
	<div class="pru">
		<span class="item-1"><strong>CC. </strong> <span>{{perfil.cedula_nit}}</span> </span>
		<span class="item-1"><strong>Tel.</strong><span>{{perfil.telefono_contac}}</span> </span>
		<span class="item-1"><strong>Dir.</strong> <span>{{ perfil.domicilio_contac }}</span></span>
		<span class="item-1"><strong>E-mail.</strong> <span> {{perfil.e_mail_contac}}</span></span>
	</div>
	<div class="segundo_item">

		<span class="display-block">Total de Polizas: <span>{{perfil.num_polizas}}</span></span>
		<span class="display-block">Polizas Activas: <span>{{perfil.pol_activas}}</span></span>
		<span class="display-block">Polizas Inactivas: <span>{{perfil.pol_inactivas}}</span></span>

	</div>
	<div class="tercer_item">
		<a class="button button-clear button-positive button-block" style="text-align: left" href="http://conexseguros.com/images/politicas.pdf" target="_blank">Políticas de uso y privacidad</a>
		<button class="button button-clear button-positive" ng-click="salir()">
  			Salir
		</button>
	</div>
</ion-content>
