<ion-header-bar class="header header-bar login-content">
	<div class='button_1'>
		<button class='button-icon icon ion-person'></button>
	</div>
	<div class="logo-bar">	
		<img src="./img/logos.png">
	</div> 
	<div class='button_2'>
		<button class='button-icon icon ion-android-notifications-none icon-right'></button></div>
</ion-header-bar>

<ion-content>
	<div class="controles">
		<button class="button button-icon ion-chevron-left button-back" ></button><span>Politicas de uso y privacidad</span>
	</div>
	<div class="contenido">
		<h4>CONEXS SAS.</h4>
		<P>La política de uso y privacidad es un apartado que
		debe ir incluido en un sitios web, este debe estar
		bien identificado, para que sea accesible a los
		usuarios que visitan el sitio; existen sitios que
		utilizan el mismo espacio para aclarar las políticas
		de uso y privacidad ya que ambas se encuentran
		relacionadas.<br>
		En este espacio lo que se pretende es establecer de
		manera muy clara los términos y condiciones de
		uso que el usuario puede dar a los contenidos,
		servicios y herramientas de las que dispone el sitio
		que está visitando. También, se utiliza para aclarar
		al usuario el uso y manejo que se le dará a la
		información que nos proporcione en el sitio.</P>
	</div>
<div class="footer">
	<p class="subfooter">conexs seguros.com|@twiterconxes|soporte
	Mep´s sas. 1355 Market Street, Suite 900, Neiva (Huila), CA 94103
	</p>
</div>

</ion-content>