/* Empty. Add your own CSS if you like */
body{
	font-family: Roboto !important;
	font-size: 16px;
}
.tab-item{
	max-width: 100% !important;
}
.center{
	text-align: center;
}
.login-content{
	background: rgba(0,34,118,1);
	background: -moz-linear-gradient(top, rgba(0,34,118,1) 0%, rgba(0,34,118,1) 40%, rgba(1,60,149,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,34,118,1)), color-stop(40%, rgba(0,34,118,1)), color-stop(100%, rgba(1,60,149,1)));
	background: -webkit-linear-gradient(top, rgba(0,34,118,1) 0%, rgba(0,34,118,1) 40%, rgba(1,60,149,1) 100%);
	background: -o-linear-gradient(top, rgba(0,34,118,1) 0%, rgba(0,34,118,1) 40%, rgba(1,60,149,1) 100%);
	background: -ms-linear-gradient(top, rgba(0,34,118,1) 0%, rgba(0,34,118,1) 40%, rgba(1,60,149,1) 100%);
	background: linear-gradient(to bottom, rgba(0,34,118,1) 0%, rgba(0,34,118,1) 40%, rgba(1,60,149,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002276', endColorstr='#013c95', GradientType=0 );
}
.button_1{
	width: 10%;
	display: inline-block;
	vertical-align: top;


}
.button_1 button{
	color: white;
}

a{
	text-decoration: none;
}

.button_2{
	margin-left: auto;
	width: 10%;
	display: inline-block;
	float: right;
	position: relative;
}
.button_2 button{
	padding: 0 !important;
	color:white;
}
.img_logo{
	margin-left: 25%;
	width: 67%;
	display: inline-block;
}


.img-logo{
	width: 60%;
	margin:0 auto;
	max-height: 250px;
	padding-top: 10%;
}

.img-logo img{
	max-width: 100%;
}

.login-content form{
	width: 80%;
	margin: 20% auto;
	text-align: center;
}

.login-content form input[type=number]{
	width: 90%;
	margin:0 auto;
	border-bottom: 1px solid #001959;
}
#cedula {
	width: 90%;
	margin: 0 auto;
	border-bottom: 1px solid #001959;
}
.text-white{
	color: #fff;
}

.form-div-container{
	height: 120px;
	width: 100%;
	background: #012b95;
}

.btn-login{
	margin-top:2em;
	height: 60px;
	background: #d5802d;
	border-top: 2px solid #854200;
	width: 100%;
	color:#854200;
	font-family: Roboto-Regular;
	font-size: 24px;
	text-shadow: #ffc082 1px 1px 2px;
	box-sizing: border-box;
}

.header-big{
	/*height: 50px !important;*/
	box-sizing: border-box;
}

.controles{
	width: 100%;
	color : white;
	height: 40px;
	background: #002276;
	border-bottom: 3px solid #d5802d;
	background: #031169;
	font-family: Roboto;
	top:44px;
	position: fixed;
	left:0;
	text-align: center;
	font-size: 2e
}

.button-back{

	color: #FFFFFF;
}
.item-image img:first-child, .item-image .list-img {
	max-width: 100px;
}
.text-button{
	width: 85%;

}

.controles-title{
	width: 80%;
	display: inline-block;
	text-align: center;
	padding-top: 7px;
	margin-right: 5%;
}


.lista-imagen{
	width: 30%;
	max-height: 50px;
	height: 45px;
	max-width: 100px;
	min-height: 45px;
}
.list-text{
	position: relative;
	box-sizing: border-box;;
	color: #5A5A5A;
	width: 78%;
	overflow: visible;
	display: inline-block;
}
.estado{
	position: absolute;
	top: -14px;
	right: 40px;
}

.logo-aseguradora{
	width: 100%;
	display:block;
	box-sizing: 20px;
	vertical-align: top;
	padding-top: 25px;
	text-align: center;
	max-height: 55px;
}
.logo-aseguradora > .img-aseguradora{
	width: 50%;
	text-align: center;
	display: inline-block;;
}
.img-aseguradora >img{
	min-height: 35px;
	max-height: 45px;
	min-width: 50px;
	margin-right: 25px;
}
.estado-poliza{
	width: 47%;
	top:-10px;
	position: relative;
	display: inline-block;
}

.info-poliza{
	width: 100%;
	text-align: center;


}

.inline-block {
	display: inline-block;
	font-weight: 800;
}

.inline-blockDestado p:first-child{
	font-weight: 800;
}

.Dtipo-poliza{
	width: 100%;
	height: 25px;
	padding-top: 0px;
}

.Dtipo-poliza >h4{
	max-height: 25px;
	width: 100%;
	height: 25px;
	padding-right: 10px;
	display: inline-block;
}

.Destado{
	width: 25%;
	font-size: 10px;
}

.layout-info-poliza{
	border-bottom: 	1px solid #d5802d;
	margin-top: 40px;
}

.call{
	text-align:  center;
	background: #1D9136;
	display: block;
	width: 200px;
	height: 200px !important;
	max-height: 300px !important;
	margin: 0 auto;
	text-decoration: none;
	position: relative;
	margin-bottom: 20px;
}

.call img{
	padding-top: 20px;
	margin: 0 auto;
}

.call-text{
	background: #116E20;
	width: 100%;
	height: 43px;
	bottom: 0;
	text-align: center;
	font-size: 1.5em;
	padding-top: 10px;
	position:absolute;
	color:#fff;
}

.info-personal{
	padding-top: 1em;
	padding-left: 15px;
	padding-right: 15px;
}

.logo-bar{
	margin-left: 1em;
	width: 67%;
	height: 35px;
	display: inline-block;
	text-align: center;

}

.logo-bar img{
	height: 100%;
}

.lista-notificaciones{
	width: 100%;
	height: 200px;
	border-top-width: 10px;
	box-sizing: border-box;
	padding: 1em;
	display: inline-block;
}

.content-notification{
	height:70px !important;
	width: 100%;
	border-bottom: 1px solid #d5802d;
	padding-top: 10px;
	padding-bottom: 10px;
}

.imagen-notification{
	width: 10%;
	display: inline-block;
	vertical-align: top;
	height: 40px;
	max-height: 40px !important;
	max-width: 100%;
	height: 100%;
	padding-right: 50px;

}

.notifications-title{
	width: 90%;
	display: inline-block;
	white-space: normal !important;
}
.notification-text{
	display: inline-block;
	height: 85%;
}

.notification-text h4{
	margin:0 !important;
	line-height: 10px;
	color:gray;
	font-size:20px;
	overflow: visible!important;
}

.title{
	margin-left: 4em;
	font-weight: bold;
	font-size: 130%;

}

.no-padding{
	padding: 0;
	padding-left: 10px;
	padding-top: 10px;
}

.primer_item{
	padding: 1em 0px 1em 0px;
}

.segundo_item{
	border-top: 1px solid #d5802d;
	border-bottom:1px solid #d5802d;
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: Roboto regular;
	padding-left: 10px;
	padding-right: 10px;

}
.tercer_item{
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 15px;
	padding-left: 15px;
}

.items{
	padding-right: 15px;
	padding-left: 15px;
}

.items span{
	display: inline-block;
	width: 20%;
}

.items span:last-child{
	width: 80%;
	text-align: right;
}

.pru{
	padding-left: 1em;
	padding-right: 1em;
}
.item-1{
	display: block;
}
.item-1 > span{
	float: right;

}
.controles span{
	font-size: 20px;
    text-align: center;
    padding-left: 20px;
    padding-left:0px;
    font-weight: 800;
}

.contenido{
	padding-left: 15px;
	padding-right:15px;
	border-bottom: 1px solid #d5802d ;
}

.footer {
	width: 100%;
	text-align: center;
	padding-left:10px;
	padding left: 10px;
	padding-top: 5px;
	color:white;
	/*background: rgba(0,34,118,1);
	background: -moz-linear-gradient(top, rgba(0,34,118,1) 0%, rgba(0,34,118,1) 40%, rgba(1,60,149,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,34,118,1)), color-stop(40%, rgba(0,34,118,1)), color-stop(100%, rgba(1,60,149,1)));
	background: -webkit-linear-gradient(top, rgba(0,34,118,1) 0%, rgba(0,34,118,1) 40%, rgba(1,60,149,1) 100%);
	background: -o-linear-gradient(top, rgba(0,34,118,1) 0%, rgba(0,34,118,1) 40%, rgba(1,60,149,1) 100%);
	background: -ms-linear-gradient(top, rgba(0,34,118,1) 0%, rgba(0,34,118,1) 40%, rgba(1,60,149,1) 100%);
	background: linear-gradient(to bottom, rgba(0,34,118,1) 0%, rgba(0,34,118,1) 40%, rgba(1,60,149,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002276', endColorstr='#013c95', GradientType=0 );*/

}

.itemc{
	border-bottom: 2px solid #d5802d;
	padding:0 10px 0 10px;
	display: block;
}

.subfooter{
	margin bottom: 0;
}

.list a{
	padding-left:55px;
	padding-top:15px;
}

.list img{
	height: 5px;
}

.CUMPLIMIENTO p{
	margin-left: -16px;
}


.MOTOCICLETA b{

	line-height: 15px;
	padding-right: 20px;
}
.AUTOMOVILES p{
	padding-right: 90px;

}

.inline-blockDestado span{
	position:absolute;
 	top:5px;
 	left:73%;
}

.Dtipo-poliza >h4{
	padding-right: 100px;
}

.Dtipo-poliza >h4{
	padding-right:5px;
}


.display-block{

	display:block;

}
.display-block > span{

	float: right;
}
#content-notification{
	padding: 0 20px;
	margin-top: 2em;
}

#notification-title{
	font-size:20px;
	color: #d5802d;
	font-family: Roboto;
	text-align: center;
	border-bottom: 3px dotted #D5D0D3;
}
.notification-body{
	padding-top: 10px;
	width: 100%;
	font-size: 1em;

}
.notification{
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: red;
	position: absolute;
	top: 0;
	right: 2px;
	/*display: none;*/
}
.siniestros{
	width: 100%;
	font-size: 20px;
	text-align: center;
}
.capitalize{
	text-transform: capitalize;
}

/*vemntana modal*/
.modal{
	width: 100%;
	height: 100%
	position: absolute;
	top: 0;
	left: 0;
	background-color: transparent;
	display: none;
}

.modal-content{
	position: relative;
	width: 80%;
	background-color: #fafafa;
	margin: 0 auto;
	box-sizing: border-box;
	padding: 1em;
	margin-top: 45%;
	box-shadow: 0 0 25px rgba(0,0,0,.5);
}

.modal-close{
	position: absolute;
	top: -15px;
	right: -10px;
	cursor: pointer;
	font-size: 20px;
	padding-left: 8px;
	padding-top: 5px;
	color: #fff;
	width: 30px;
	height: 30px;
	background-color: #4d4d4d;
	border-radius: 50%;
}
.modal--show{
	display: block !important;
}
.copy {
	margin-top: 10%;
}
/*classList.toggle*/
.external-link {
	color: #4685dd;
}